body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  flex-direction: row;
}

#container {
  display: flex;
  width: 100%;
  position: relative;
}

#sidebar {
  width: 130px; /* Adjust width as needed */
  background-color: #1C1C1EFF;
  color: #F2F2F7FF;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.snippet-button {
  background-color: transparent;
  color: #F2F2F7FF;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: left;
  width: 100%;
  font-size: 12px;
}

#snippets {
  flex-grow: 1;
  overflow-y: auto;
  height: calc(100vh - 70px); /* Adjust height to match editor */
}

.snippet {
  background-color: #2C2C2EFF;
  margin: 5px 0;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.snippet:hover {
  opacity: 0.7;
}

#editor-container {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  flex-grow: 1;
  width: calc(100% - 130px); /* Full width minus sidebar width */
  position: relative;
}

#editor {
  flex-grow: 1;
  width: 100%; /* Ensure editor takes full width */
  height: calc(100vh - 60px); /* Full height minus button and margins */
  overflow: auto; /* Ensure the editor can scroll */
}

.snippet-editor-button {
  background-color: transparent;
  color: #F2F2F7FF;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 12px;
  margin-top: 10px;
  align-self: flex-end; /* Align button to the right */
  margin-right: 10px; /* Add margin to right to align flush */
}

.snippet-delete-button {
  background: none;
  border: none;
  color: #f2f2f7;
  cursor: pointer;
  font-size: 14px;
}
