body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  flex-direction: row;
}

#container {
  display: flex;
  width: 100%;
  position: relative;
}

#sidebar {
  width: 130px; 
  background-color: #1C1C1EFF;
  color: #F2F2F7FF;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.snippet-button,
.snippet-title-input {
  background-color: transparent;
  color: #F2F2F7FF;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: left;
  width: 100%;
}

.snippet-button {
  font-size: 10px;
  margin-bottom: 5px;
  padding: 2px;
}

.snippet-title-input {
  font-size: 8px;
  margin-bottom: 0, auto, 2px;
}

.snippet-title-input::placeholder {
  color: #F2F2F7FF;
}

#snippets {
  flex-grow: 1;
  overflow-y: auto;
  height: calc(100vh - 70px); /* Adjust height to match editor */
}

.snippet {
  margin: 2px 0;
  margin: 1px 0;
  padding: .5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.snippet:hover {
  opacity: 0.7;
}

#editor-container {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  flex-grow: 1;
  position: relative;
}

#editor {
  flex-grow: 1;
  width: 100%; /* Ensure editor takes full width */
  height: calc(100vh - 20px); /* Full height minus button and margins */
  overflow: auto; /* Ensure the editor can scroll */
}

.snippet-editor-button {
  background-color: transparent;
  color: #F2F2F7FF;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 10px;
}
.snippet-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.snippet-controls p {
  color: #F2F2F7FF;
  margin: 0;
  font-size: 8px;
}

.snippet-delete-button {
  background: none;
  border: none;
  color: #f2f2f7;
  cursor: pointer;
  font-size: 10px;
  display: flex;
  align-items: center;
}
